{% extends 'flights/../base.html' %}

{% block main_content %}
    <h2>Flight: {{ flight.flight_number }}</h2>
    <ul>
        <li>Destination: {{ flight.destination }}</li>
        <li>Origin: {{ flight.origin }}</li>
        <li>Duration: {{ flight.duration }}</li>
    </ul>

    <h2>Passengers Board List</h2>
    <h3>Passengers list</h3>
    <ul>
    {% for passenger in flight_passengers %}
        <li>{{ passenger }}</li>
    {% endfor %}
    </ul>
    <h3>Book a Flight for Passenger</h3>
    <h4>Registered Passengers</h4>
    <form method="POST" action={% url 'flights:book_flight' flight.flight_number %}>
        {% csrf_token %}
        <label>
            Select a passenger:
            <select name="passenger_id">
                {% for passenger in passengers %}
                    <option value="{{ passenger.id }}">{{ passenger }}</option>
                {% empty %}
                    <option disabled>No passengers here.</option>
                {% endfor %}
            </select>
        </label>
        <input type="submit" value="Book">
    </form>

{% endblock %}
