{% if user.is_authenticated %}
    <div class="w-100 p-2 m-2 border">
    <div id="form-container" class="p-2 m-2">
        <h2>New Post</h2>
        <form id="new-post-form" method="POST" action="{% url 'new_post' %}">
            {% csrf_token %}
            <div class="w-50">
                <label class="w-100">
                    <span>Let the world hear you...</span>
                    <br>
                    <textarea class="w-75 form-control" name="post_text" required></textarea>
                </label>
            </div>
            <br>
            <label>
                <span>Image or video (optional):</span>
                <br>
                <input class="form-control" name="post_multimedia_link" type="text">
            </label>
            <br>
            <input type="submit" id="new-post-button" class="btn btn-primary" value="Send">
        </form>
    </div>
</div>
{% else %}
    <div class="container float-left p-2 m-2 alert alert-primary">
        <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">register</a> to be able to send a new post.
    </div>
{% endif %}
