<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>TO-DO Lists App</title>
</head>
<body>
    <header>
        <nav> Our apps:
            <ul>
                <li><a href="{% url 'hello:index' %}">Hello App</a></li>
                <li>TO-DO-LIST APP
                    <ul>
                        <li><a href="{% url 'tasks:index' %}">Task App</a></li>
                        <li><a href="{% url 'tasks:shopping_lists' %}">Shopping lists app</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <h1>TO-DO Lists App</h1>
    {% block items %}
    {% endblock %}
</body>
</html>