textarea {
    min-height: 400px;
}

.mail-list-item {
    border-style: solid !important;
    border-width: 2px !important;
    padding: 15px !important;
}

.mail-list-item-read {
    color: grey;
}

.right-align {
    float: right !important;
    color: darkgrey !important;
}

.email-link {
    text-underline: none !important;
    color: black !important;
}

.email-info-label {
    font-weight: bold !important;
}
