{% extends "tasks-template/todo-list-app-main.html" %}

{% block items %}
    <h2>Shopping lists</h2>
    <h3>Add shopping item</h3>
    <form method="POST" action="{% url 'tasks:add_new_shopping_item' %}">
        {% csrf_token %}
        {{ new_item_form }}
        <input type="submit">
    </form>
    <h3>Your shopping list</h3>
    <ul>
        {% for item in shopping_items %}
            <li>{{ item.list_item_name }} {{ item.quantity }}x</li>
            {% empty %}
                <p>There are no items to display.</p>
        {% endfor %}
    </ul>
{% endblock %}
