{% extends "tasks-template/todo-list-app-main.html" %}

{% block items %}
    <form method="POST" action="{% url 'new_task' %}">
        {% csrf_token %}
        {{ new_item_form }}
        <input type="submit">
    </form>
    <h2>Your list</h2>
    <ul>
        {% for task in tasks %}
            <li>{{ task }}</li>
        {% endfor %}
    </ul>
    <h2>Your added preview...</h2>
    <ul>
        <li>{{ tasks.0 }}</li>
        <li>{{ tasks.1 }}</li>
        <li>...</li>
    </ul>
{% endblock %}
